<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
               <form class="mb-4">
                    <h2 class="mb-4">Login</h2>
                    <div class="mb-3">
                        <label for="shopID" class="form-label" >Shop ID</label>
                        <input type="text" class="form-control" #shopID id="shopID" placeholder="Enter Shop ID">
                    </div> 
                    <button type="submit" class="btn btn-lg btn-success" (click)="loginToGroceryShop()">Login</button>

                </form>                 
                <p>Don't have an account ?<a routerLink="../groceryShopReg">Register Now</a></p>
                <div class="alert alert-warning" *ngIf="loginAlertMsg">
                    Please enter a Valid Shop ID.
                </div>
            </div>
        </div>
    </div>
</div>