<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{groceryItem.productName}}</h5>
        <p>
            {{groceryItem.Describtion}}
        </p>
        <div class="row">
            <div class="col">
                <div class="mb-1">
                    Quantity: 
                    <small class="">{{groceryItem.quantity}}</small>
                </div>
                <div>
                    Price: 
                    <small class="">{{groceryItem.price}}</small>
                </div>
            </div>
            <div class="col-md-3 text-end"> 
                <button class="btn btn-sm btn-danger" (click)="deleteItem(groceryItem.productID)">Delete</button>
            </div>
        </div>
       
    </div>
</div>